/**
 * Numenta Web Platform and Sites source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2017 Numenta <http://numenta.com>
 */

.events {
  /* */
}
.events h2 {
  border-bottom: 0;
  padding-bottom: 0;
}
.filter {
  composes: f5 from 'tachyons';
}

.select {
  composes: mr2 from 'tachyons';
  composes: ba from 'tachyons';
  composes: b--black-20 from 'tachyons';
  composes: br2 from 'tachyons';
  background-color: inherit;
  float: right;
  text-align: right;
}

.pagination {
  composes: tc b from 'tachyons';
}
