/**
 * Numenta Web Platform and Sites source code
 * MIT License (see LICENSE.txt)
 * Copyright © 2005—2017 Numenta <http://numenta.com>
 */

.columns {
  composes: layout-columns from '../../static/assets/css/theme.css';
}

.content {
  composes: pr4-l from 'tachyons';
  composes: layout-content from '../../static/assets/css/theme.css';
  margin-top: -0.5rem;
}

.aside {
  composes: layout-aside from '../../static/assets/css/theme.css';
}

.presslinks {
  color: black;
  font-weight: bold;
  composes: lh-title from 'tachyons';
  composes: mv1 from 'tachyons';
  composes: pa0 from 'tachyons';
  padding-bottom: 1rem;
  font-size: 2.25rem;
}

@media screen and (min-width: 48em) {
  .aside {
    margin-top: -2rem;
  }
  .presslinks {
    font-weight: normal;
    padding-bottom: 0;
    composes: b--black-20 from 'tachyons';
    composes: bb from 'tachyons';
    composes: dark-gray from 'tachyons';
    font-size: 1.5rem;
    composes: mb2 from 'tachyons';
    composes: pb1 from 'tachyons';
    composes: lh-title from 'tachyons';
    composes: mt1 from 'tachyons';
    composes: w-60-ns from 'tachyons';
    composes: w-100 from 'tachyons';
    border-bottom-style: dotted;
  }
}


.release {
  composes: b--light-gray from 'tachyons';
  composes: bt from 'tachyons';
  composes: pb1 from 'tachyons';
  composes: pt3 from 'tachyons';
}

.link {
  composes: lh-copy from 'tachyons';
}
